* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #3d3d3d;
	color: white;
	height: 100vh;
}

.gameContainer {
	height: 100%;
	display: grid;
	place-items: center;
}

@font-face {
	font-family: knight-warrior;
	src: url('/fonts/KnightWarrior.otf');
	font-weight: 400;
	font-weight: normal;
}